body {
  background-color: black;
  color: white;
  font-family: 'Poppins', Courier, monospace;
  font-weight: 500;
}

.Center {
  user-select: none;
  font-size: 50pt;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

p {
  font-size: 15pt;
  font-weight: 300;
  color: gray;
}

.Text {
  text-align: center;
  line-height: 20px;
}
