body {
  background-color: black;
  color: white;
  font-family: 'Poppins', Courier, monospace;
  font-weight: 500;
}

.Center {
  user-select: none;
  font-size: 60pt;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

#BottomText {
  font-size: 15pt;
  font-weight: 300;
  color: gray;
}

.Text {
  text-align: center;
  align-items: baseline;
  line-height: 20px;

  --animationduration: .75s;
  --animationcurve: cubic-bezier(0.645, 0.045, 0.355, 1);
  --sherbbsize: 80pt;
}

#sherbb1 {
  color: red;
  font-size: var(--sherbbsize);
  animation-name: sherbbAnimate;
  animation-duration: .7s;
  animation-timing-function: var(--animationcurve);
  vertical-align: middle;
  display: inline-flex;
}
#sherbb2 {
  color: orange;
  font-size: var(--sherbbsize);
  animation-name: sherbbAnimate;
  animation-duration: .8s;
  animation-timing-function: var(--animationcurve);
  vertical-align: middle;
  display: inline-flex;
}
#sherbb3 {
  color: yellow;
  font-size: var(--sherbbsize);
  animation-name: sherbbAnimate;
  animation-duration: .9s;
  animation-timing-function: var(--animationcurve);
  vertical-align: middle;
  display: inline-flex;
}
#sherbb4 {
  color: green;
  font-size: var(--sherbbsize);
  animation-name: sherbbAnimate;
  animation-duration: 1s;
  animation-timing-function: var(--animationcurve);
  vertical-align: middle;
  display: inline-flex;
}
#sherbb5 {
  color: blue;
  font-size: var(--sherbbsize);
  animation-name: sherbbAnimate;
  animation-duration: 1.2s;
  animation-timing-function: var(--animationcurve);
  vertical-align: middle;
  display: inline-flex;
}
#sherbb6 {
  color: indigo;
  font-size: var(--sherbbsize);
  animation-name: sherbbAnimate;
  animation-duration: 1.3s;
  animation-timing-function: var(--animationcurve);
  vertical-align: middle;
  display: inline-flex;
}

@keyframes sherbbAnimate {
  from {
    font-size: 0;
  }
  50% {
    font-size: 100pt;
  }
  to {
    font-size: var(--sherbbsize);
  }
}
