body {
  background-color: black;
  color: white;
  font-family: 'Poppins', Courier, monospace;
  font-weight: 500;
  z-index: 1;
  margin: 0px;
}

.FullscreenBox {
  height: 100vh;
  width: 100%;
  user-select: none;
  font-size: 60pt;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.HeadFoot{
  color: white;
  background-size: 128px;
  height: 128px;
  width: 100%;
  user-select: none;
  font-size: 70pt;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  letter-spacing: 20pt;
  font-family: 'Play', sans-serif;
}

.Middle {
  user-select: none;
  font-size: 60pt;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

#headerVideo {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  image-rendering: crisp-edges;

  animation-name: videoFadeIn;
  animation-duration: 3s;
}

@keyframes videoFadeIn {
  from {
    font-size: 0;
    filter: opacity(0%);
  }
  20% {
    filter: opacity(0%);
  }
  to {
    filter: opacity(100%);
  }
}

#BottomText {
  font-size: 15pt;
  font-weight: 300;
  color: gray;
}

.Text {
  text-align: center;
  align-items: baseline;
  line-height: 20px;

  --animationduration: 0.75s;
  --animationcurve: cubic-bezier(0.645, 0.045, 0.355, 1);
  --sherbbsize: 90pt;
}

#sherbb1 {
  color: red;
  font-size: var(--sherbbsize);
  animation-name: sherbbAnimate;
  animation-duration: 0.7s;
  animation-timing-function: var(--animationcurve);
  vertical-align: middle;
  display: inline-flex;
}
#sherbb2 {
  color: orange;
  font-size: var(--sherbbsize);
  animation-name: sherbbAnimate;
  animation-duration: 0.8s;
  animation-timing-function: var(--animationcurve);
  vertical-align: middle;
  display: inline-flex;
}
#sherbb3 {
  color: yellow;
  font-size: var(--sherbbsize);
  animation-name: sherbbAnimate;
  animation-duration: 0.9s;
  animation-timing-function: var(--animationcurve);
  vertical-align: middle;
  display: inline-flex;
}
#sherbb4 {
  color: green;
  font-size: var(--sherbbsize);
  animation-name: sherbbAnimate;
  animation-duration: 1s;
  animation-timing-function: var(--animationcurve);
  vertical-align: middle;
  display: inline-flex;
}
#sherbb5 {
  color: blue;
  font-size: var(--sherbbsize);
  animation-name: sherbbAnimate;
  animation-duration: 1.2s;
  animation-timing-function: var(--animationcurve);
  vertical-align: middle;
  display: inline-flex;
}
#sherbb6 {
  color: indigo;
  font-size: var(--sherbbsize);
  animation-name: sherbbAnimate;
  animation-duration: 1.3s;
  animation-timing-function: var(--animationcurve);
  vertical-align: middle;
  display: inline-flex;
}

@keyframes sherbbAnimate {
  from {
    font-size: 0;
  }
  50% {
    font-size: 110pt;
  }
  to {
    font-size: var(--sherbbsize);
  }
}
